
  
<main id="main" class="main">
          <div class="card">
            <div class="card-body">
              <h5 class=" text-center my-center mt-3"><u>Manage Coupons</u></h5>

              <!-- Bordered Tabs Justified -->
              <ul class="nav nav-tabs nav-tabs-bordered d-flex mt-5" id="borderedTabJustified" role="tablist">
                <li class="nav-item flex-fill" role="presentation">
                  <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-home" type="button" role="tab" aria-controls="home" aria-selected="true">View Coupon</button>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                  <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Add Coupon</button>
                </li>
               
              </ul>
              <div class="tab-content pt-2" id="borderedTabJustifiedContent">
                <div class="tab-pane fade show active" id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab">
                    <table class="table table-hover" id="myTable">
                    <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Coupon Code</th>
                        <th scope="col">Discription</th>
                        <th scope="col">Discount</th>
                         <th scope="col">Expire date</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each coupon}}
                    <tr>
                        <td></td>
                        <td>{{this.couponCode}}</td> 
                        <td>{{this.discription}}</td> 
                        <td>{{this.discount}}%</td> 
                         <td>{{this.expiredate}}</td> 
                        <td><button class="btn btn-outline-danger text-uppercase"  onclick="deleteCoupon('{{this._id}}')">
                               Delete
                            </button>
                        </td>

                    {{/each}} 
                    </tbody>
                </table>
                </div>
                <div class="tab-pane fade" id="bordered-justified-profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="col-md-6 ">
                        <div class="card">
                            <div class="card-body">
                            

                            <!-- Vertical Form -->
                            <form class="row g-3 mt-5" method="post" action="/admin/add-coupon" onsubmit="return validation()">
                                <div class="col-12 ">
                                <label for="inputNanme4" class="form-label">Coupon Code</label>
                                <input type="text" name="couponCode" class="form-control" id="inputNanme4" onkeyup="nameValidation()">
                                <span id="Name" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                <label for="inputEmail4" class="form-label" >Discription (optional)</label>
                                <input type="text" name="discription" class="form-control" id="inputEmail4">
                                </div>
                                <div class="col-12">
                                <label for="inputPassword4" class="form-label" >Discount</label>
                                <input type="number" name="discount" class="form-control" id="inputPassword4" onkeyup="discountValidation()">
                                <span id="Discount" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                <label for="inputAddress" class="form-label">Date</label>
                                <input type="date" name="expiredate" class="form-control" id="inputAddress" onkeyup="dateValidation()">
                                 <span id="Date" class="text-danger"></span>
                                </div>
                                <div class="text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                                </div>
                            </form><!-- Vertical Form -->

                            </div>
                        </div>
                    </div>
                </div>
               
              </div><!-- End Bordered Tabs Justified -->

            </div>
          </div>
    </main>





   

<script>
  function deleteCoupon(couponId){
    console.log('entered to the fn')

    swal({
          title: "Are you sure?",
          text: "Once deleted, you will not be able to recover this imaginary file!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
             $.ajax({
              url: '/admin/delete-coupon',
              data:{
                  cId:couponId
              },
              type:"POST",
              success:(response)=>{
                  if(response.status){
                     swal("Poof! Your imaginary file has been deleted!", {
                    icon: "success",
                 });
                    location.reload()
                  }
               }
            })
             
          } else {
                swal("Your imaginary file is safe!");
                 }
              });
}


 var errorDiscount = document.getElementById('Discount')
 var errorName = document.getElementById('Name')
 var errorDate = document.getElementById('Date')
function discountValidation(){
const discount = document.getElementById('inputPassword4').value;
            if (discount == "") {
                errorDiscount.innerHTML = '*required'
                return false
            }
            else if(discount>60){
              errorDiscount.innerHTML = '*not allowed! reduce percent'
                return false
            }
             errorDiscount.innerHTML = null
            return true

}

function nameValidation(){
const coupon = document.getElementById('inputNanme4').value;
            if (coupon == "") {
                errorName.innerHTML = '*required'
                return false
            }
            errorName.innerHTML = null
            return true
}

function dateValidation(){
const expireDate = document.getElementById('inputAddress').value;
            if (expireDate == "") {
                errorDate.innerHTML = '*required'
                return false
            }
            errorDate.innerHTML = null
            return true
}





 function validation() {
            if (!discountValidation() || !nameValidation() || dateValidation()) {
                return false
            }
            return true
        }
</script>