 <style>
.hover-div {
    border-top: 1px solid #f8f8f8;
    background: #f8f8f8;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 10px 0px;
}
.hover-div {
    border-top: 1px solid #f8f8f8;
    background: #f8f8f8;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 10px 0px;
}

.hover-div:hover {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.32);
    cursor: pointer;
    border-radius: 5px;
}


 </style>
 <body>
    <div class="page-wrapper">


        <main class="main">
            <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Checkout<span style="color:#800080; !">Shop</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->


            <div class="page-content">
                <div class="checkout">
                    <div class="container mt-2">
    
                        {{#if address}}
                        
                         <div class="row">
                            <div class="col-lg-8">   

                                {{#each address}}                             
                               <div class="col-12 col-md-12">

                                     <div class="product-body hover-div">
                                        <div class="row">
                                           <div class="col-9">
                                               <p style="font-weight:bold;">{{this._id.name}}</p> 
                                           </div>
                                           <div class="col-3">
                                             <a href="edit-address/{{this._id.address}}">
                                               <button type="button" class="btn btn-outline-dark">
                                                EDIT
                                               </button>
                                             </a>
                                           </div>
                                        </div>

                                        <div class="row">
                                           <div class="col-9">
                                                <p>{{this._id.mobile}} | {{this._id.email}}</p>  
                                           </div>
                                        </div>
                                   
                                     
                                      <p>{{this._id.address}},{{this._id.street}},{{this._id.town}},{{this._id.state}},{{this._id.country}}</p> 
                                      <p>{{this._id.pincode}}</p>

                                      <button class="btn btn-primary" style="width: 50px;"  onclick="addressPass('{{this._id.name}}','{{this._id.address}}','{{this._id.mobile}}')">Deliver Here</button>
                                   </div><!-- End .product-body -->
                                  
                               </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->

                               {{/each}}
                               
                               <div class="col-12 col-md-12 ">
                                 
                                      <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter">
                                    ADD ADDRESS
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Add address</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                           
                                       <form id="addAddress">
                                        
                                            <div class="col-sm-12">
                                                <label>Full Name *</label>
                                                <input type="text" class="form-control" name="name" required>
                                            </div><!-- End .col-sm-6 -->
                                
                                        <label>Company Name (Optional)</label>
                                        <input type="text" class="form-control" name="companyname">

                                        <label>Country *</label>
                                        <input type="text" class="form-control" name="country" required>

                                        <label>Street address *</label>
                                        <input type="text" class="form-control"
                                            placeholder="House number and Street name" name="streetAddress1" required>
                                        <input type="text" class="form-control"
                                            placeholder="Appartments, suite, unit etc ..." name="streetAddress2"
                                            required>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Town / City *</label>
                                                <input type="text" class="form-control" name="town" required>
                                            </div><!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                <label>State / County *</label>
                                                <input type="text" class="form-control" name="state" required>
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Postcode / ZIP *</label>
                                                <input type="text" class="form-control" name="pin" required>
                                            </div><!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                <label>Phone *</label>
                                                <input type="tel" class="form-control" name="phone" required>
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->

                                        <label>Email address *</label>
                                         <input type="email" class="form-control" name="email" required>
                                         <input type="text" name="user" value="{{user._id}}" hidden> 
                                
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
                                            <button type="submit" class="btn btn-primary">ADD ADDRESS</button>
                                            </form> 
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                               </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->

                
                         {{else}}
                          
                            <div class="row">
                                <div class="col-lg-8">                                 
                                  <form id="addAddress">
                                        <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                                        
                                            <div class="col-sm-12">
                                                <label>Full Name *</label>
                                                <input type="text" class="form-control" name="name" required>
                                            </div><!-- End .col-sm-6 -->

                                        <label>Company Name (Optional)</label>
                                        <input type="text" class="form-control" name="companyname">

                                        <label>Country *</label>
                                        <input type="text" class="form-control" name="country" required>

                                        <label>Street address *</label>
                                        <input type="text" class="form-control"
                                            placeholder="House number and Street name" name="streetAddress1" required>
                                        <input type="text" class="form-control"
                                            placeholder="Appartments, suite, unit etc ..." name="streetAddress2"
                                            required>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Town / City *</label>
                                                <input type="text" class="form-control" name="town" required>
                                            </div><!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                <label>State / County *</label>
                                                <input type="text" class="form-control" name="state" required>
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Postcode / ZIP *</label>
                                                <input type="text" class="form-control" name="pin" required>
                                            </div><!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                <label>Phone *</label>
                                                <input type="tel" class="form-control" name="phone" required>
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->

                                        <label>Email address *</label>
                                         <input type="email" class="form-control" name="email" required>
                                         <input type="text" name="user" value="{{user._id}}" hidden> 
                                
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>ADD ADDRESS</span>
                                        </button>
                                    </form> 
                                 {{/if}}
                                   
                                </div><!-- End .col-lg-9 -->
                                <aside class="col-lg-4">
                                    <div class="summary">
                                        <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                        {{#if discount}}

                                         <table class="table table-summary">
                                            <thead>

                                                <tr>

                                                    <th>Product</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {{#each response}}
                                                <tr>
                                                    <td><a href="#">{{this.product.productname}} ({{this.quantity}})</a>
                                                    </td>
                                                    <td>Rs.{{this.total}}</td>
                                                </tr>
                                                {{/each}}
                                                {{!-- <tr>
                                                    <td><a href="#">Blue utility pinafore denimdress</a></td>
                                                    <td>$76,00</td>
                                                </tr> --}}
                                                <tr class="summary-subtotal">
                                                    <td>Subtotal:</td>
                                                    <td>Rs.{{tot}}</td>
                                                </tr><!-- End .summary-subtotal -->
                                                <tr>
                                                    <td>Shipping:</td>
                                                    <td>Free shipping</td>
                                                </tr>
                                                <tr>
                                                    <td>Coupon discount:</td>
                                                    <td>{{discount}}</td>
                                                </tr>
                                                <tr class="summary-total">
                                                    <td>Total:</td>
                                                    <td>Rs.{{discountPrice}}</td>
                                                </tr><!-- End .summary-total -->
                                            </tbody>
                                        </table><!-- End .table table-summary -->
                                        {{else}}

                                        <table class="table table-summary">
                                            <thead>

                                                <tr>

                                                    <th>Product</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {{#each response}}
                                                <tr>
                                                    <td><a href="#">{{this.product.productname}} ({{this.quantity}})</a>
                                                    </td>
                                                    <td>Rs.{{this.total}}</td>
                                                </tr>
                                                {{/each}}
                                                {{!-- <tr>
                                                    <td><a href="#">Blue utility pinafore denimdress</a></td>
                                                    <td>$76,00</td>
                                                </tr> --}}
                                                <tr class="summary-subtotal">
                                                    <td>Subtotal:</td>
                                                    <td>Rs.{{tot}}</td>
                                                </tr><!-- End .summary-subtotal -->
                                                <tr>
                                                    <td>Shipping:</td>
                                                    <td>Free shipping</td>
                                                </tr>
                                                <tr class="summary-total">
                                                    <td>Total:</td>
                                                    <td>Rs.{{tot}}</td>
                                                </tr><!-- End .summary-total -->
                                            </tbody>
                                        </table><!-- End .table table-summary -->
                                        {{/if}}

                                        <div class="accordion-summary" id="accordion-payment">
                                            {{!-- <div class="card">
                                                <div class="card-header" id="heading-1">
                                                    <h2 class="card-title">
                                                        <a role="button" data-toggle="collapse" href="#collapse-1"
                                                            aria-expanded="true" aria-controls="collapse-1">
                                                            Direct bank transfer
                                                        </a>
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-1" class="collapse show" aria-labelledby="heading-1"
                                                    data-parent="#accordion-payment">
                                                    <div class="card-body">
                                                        Make your payment directly into our bank account. Please use
                                                        your Order ID as the payment reference. Your order will not be
                                                        shipped until the funds have cleared in our account.
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card --> --}}

                                            {{!-- <div class="card">
                                                <div class="card-header" id="heading-2">
                                                    <h2 class="card-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                            href="#collapse-2" aria-expanded="false"
                                                            aria-controls="collapse-2">
                                                            Check payments
                                                        </a>
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-2" class="collapse" aria-labelledby="heading-2"
                                                    data-parent="#accordion-payment">
                                                    <div class="card-body">
                                                        Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
                                                        Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card --> --}}

                                            

                                            {{!-- <div class="card">
                                                <div class="card-header" id="heading-4">
                                                    <h2 class="card-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                            href="#collapse-4" aria-expanded="false"
                                                            aria-controls="collapse-4">
                                                            PayPal <small class="float-right paypal-link">What is
                                                                PayPal?</small>
                                                        </a>
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-4" class="collapse" aria-labelledby="heading-4"
                                                    data-parent="#accordion-payment">
                                                    <div class="card-body">
                                                        Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra
                                                        non, semper suscipit, posuere a, pede. Donec nec justo eget
                                                        felis facilisis fermentum.
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card -->

                                            <div class="card">
                                                <div class="card-header" id="heading-5">
                                                    <h2 class="card-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                            href="#collapse-5" aria-expanded="false"
                                                            aria-controls="collapse-5">
                                                            Credit Card (Stripe)
                                                            <img src="assets/images/payments-summary.png"
                                                                alt="payments cards">
                                                        </a>
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-5" class="collapse" aria-labelledby="heading-5"
                                                    data-parent="#accordion-payment">
                                                    <div class="card-body"> Donec nec justo eget felis facilisis
                                                        fermentum.Lorem ipsum dolor sit amet, consectetuer adipiscing
                                                        elit. Donec odio. Quisque volutpat mattis eros. Lorem ipsum
                                                        dolor sit ame.
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card --> --}}
                                        </div><!-- End .accordion -->
                                    </div><!-- End .summary -->
                                </aside><!-- End .col-lg-3 -->
                            </div><!-- End .row -->
                        </form>


                    </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->





               
                   
                           
            

						
		        