<style>
.hover-div {
    border-top: 1px solid #f8f8f8;
    background: #f8f8f8;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 10px 0px;
}
.hover-div {
    border-top: 1px solid #f8f8f8;
    background: #f8f8f8;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 10px 0px;
}

.hover-div:hover {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.32);
    cursor: pointer;
    border-radius: 5px;
}


 </style>
<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">My Address</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
<div class="container">
{{#if address}}
<div class="row">
                            <div class="col-lg-12">   

                                {{#each address}}                             
                               <div class="col-12 col-md-12">

                                     <div class="product-body hover-div">
                                        <div class="row">
                                           <div class="col-9">
                                               <p style="font-weight:bold;">{{this._id.name}}</p> 
                                           </div>
                                           <div class="col-3">
                                             <a href="edit-address/{{this._id.address}}">
                                               <button type="button" class="btn btn-outline-dark">
                                                EDIT
                                               </button>
                                             </a>
                                           </div>
                                        </div>

                                        <div class="row">
                                           <div class="col-9">
                                                <p>{{this._id.mobile}} | {{this._id.email}}</p>  
                                           </div>
                                           <div class="col-3">
                                            
                                               <button type="button" class="btn btn-outline-dark mt-1" onclick="deleteAddress('{{this._id.name}}','{{this._id.address}}')">
                                                 DELETE
                                               </button>
                                            
                                           </div>
                                        </div>
                                   
                                     
                                      <p>{{this._id.address}},{{this._id.street}},{{this._id.town}},{{this._id.state}},{{this._id.country}}</p> 
                                      <p>{{this._id.pincode}}</p>

                                     
                                   </div><!-- End .product-body -->
                                  
                               </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->

                               {{/each}}
                               
                               <div class="col-12 col-md-12 ">
                                 
                                      <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter">
                                    ADD ADDRESS
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Add address</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                           
                                       <form id="addAddress"return onsubmit="validation()">
                                        
                                            <div class="col-sm-12">
                                                <label>Full Name *</label>
                                                <input type="text" class="form-control" name="name" required>
                                            </div><!-- End .col-sm-6 -->
                                        
                                        <div class="col-sm-12">
                                             <label>Company Name (Optional)</label>
                                             <input type="text" class="form-control" name="companyname">
                                        </div>
                                       
                                        <div class="col-sm-12">
                                              <label>Country *</label>
                                              <input type="text" class="form-control" name="country" required>
                                        </div>
                                       
                                         <div class="col-sm-12">
                                            <label>Street address *</label>
                                            <input type="text" class="form-control"
                                             name="streetAddress1" required>
                                         </div>    
                                        <div class="col-sm-12">
                                            <label>House / Appartment name *</label>
                                             <input type="text" class="form-control"
                                             name="streetAddress2"
                                            required>

                                        </div>
                                        
                                         <div class="col-sm-12">
                                            <div class="row">
                                            <div class="col-sm-6">
                                                <label>Town / City *</label>
                                                <input type="text" class="form-control" name="town" required>
                                            </div><!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                <label>State / County *</label>
                                                <input type="text" class="form-control" name="state" required>
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->

                                         </div>
                                        
                                         <div class="col-sm-12">
                                             <div class="row">
                                            <div class="col-sm-6">
                                                <label>Postcode / ZIP *</label>
                                                <input type="text" class="form-control" name="pin" required>
                                            </div><!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                <label>Phone *</label>
                                                <input type="tel" class="form-control" name="phone" required>
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->

                                         </div>
                                       
                                        <div class="col-sm-12">
                                         <label>Email address *</label>
                                         <input type="email" class="form-control" id="Email" name="email" >
                                         <span id="email"></span>
                                         <input type="text" name="user" value="{{user}}" hidden> 

                                        </div>
                                        
                                
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
                                            <button type="submit" class="btn btn-primary">ADD ADDRESS</button>
                                            </form> 
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                               </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->

                
                         {{else}}
                          
                            <div class="row">
                                <div class="col-md-2">

                                </div>
                                <div class="col-lg-8">                                 
                                  <form id="addAddress">
                                        <h2 class="checkout-title">ADD ADDRESS</h2><!-- End .checkout-title -->
                                        
                                            <div class="col-sm-12">
                                                <label>Full Name *</label>
                                                <input type="text" class="form-control" name="name" required>
                                            </div><!-- End .col-sm-6 -->

                                        <label>Company Name (Optional)</label>
                                        <input type="text" class="form-control" name="companyname">

                                        <label>Country *</label>
                                        <input type="text" class="form-control" name="country" required>

                                        <label>Street address *</label>
                                        <input type="text" class="form-control"
                                            placeholder="House number and Street name" name="streetAddress1" required>
                                        <input type="text" class="form-control"
                                            placeholder="Appartments, suite, unit etc ..." name="streetAddress2"
                                            required>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Town / City *</label>
                                                <input type="text" class="form-control" name="town" required>
                                            </div><!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                <label>State / County *</label>
                                                <input type="text" class="form-control" name="state" required>
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Postcode / ZIP *</label>
                                                <input type="text" class="form-control" name="pin" required>
                                            </div><!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                <label>Phone *</label>
                                                <input type="tel" class="form-control" name="phone" required>
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->

                                        <label>Email address *</label>
                                         <input type="email" class="form-control" name="email" onkeyup="validEmail() "required >
                                         <input type="text" name="user" value="{{user}}" hidden> 
                                
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>ADD ADDRESS</span>
                                        </button>
                                    </form> 
                                 {{/if}}

                                 <div class="mt-5">

                                 </div>
                                 </div>

                                 <script>
                                    var errorEmail = document.getElementById('email')

                                    function validEmail() {
                                        const email = document.getElementById('Email').value
                                        if (email == "") {
                                            errorEmail.innerHTML = "enter you email address"
                                            return false
                                        }
                                        if (!email.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
                                            errorEmail.innerHTML = 'enter a proper email address'
                                            return false
                                        }
                                        errorEmail.innerHTML = null
                                        return true
                                    }
                                    
                                     function validation() {
                                        if (!validEmail()) {
                                            return false
                                        }
                                        return true
                                    }
                                 </script>