<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Wishlist</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
<div class="page-content">
            	<div class="container">
					{{#if notFound}}
					<div class="text-center mt-4">
						<div>
					        <img style="height: 200px;" src="https://cdn.dribbble.com/users/461802/screenshots/4421003/emptycart.gif" class="mx-auto" alt="">
							</div>
						<h5 style="color: goldenrod;">Your wishlist is empty!</h5>
						<a href="/products" class="btn btn-outline-dark">Start purchase</a>
					</div>
					{{else}}  
					<table class="table table-wishlist table-mobile mt-2">
						<thead>
							<tr>
								<th>Product</th>
                                

								<th>Price</th>
                              
								<th>storage</th>

                                <th>Actions</th>
								
							</tr>
						</thead>

						<tbody>
                            {{#each products}}
                               {{#if this.product.stock}}
                            
							<tr class="">
								<td class="product-col">
									<div class="product">
										<figure class="product-media">
											<a href="/product-view/{{this.product._id}}">
												<img src="/images/product/{{this.product.img.[3]}}" alt="Product image">
											</a>
										</figure>

										<h3 class="product-title">
                                            
											<a href="/product-view/{{this.product._id}}">{{this.product.productname}}</a>
										</h3><!-- End .product-title -->
										
									</div><!-- End .product -->
								
								</td>
								<td class="price-col">₹{{this.product.price}}</td>
                                {{!-- <td>{{this.deliveryDetails.address.HouseName}},{{this.deliveryDetails.address.streetName}},{{this.deliveryDetails.address.pincode}},{{this.deliveryDetails.address.state}} --}} 
		                       <td class="price-col">{{this.product.storage}}</td>
                                <td class="action-col">
						        <div class="dropdown">
							      <button class="btn btn-outline-dark" data-toggle="dropdown" aria-haspopup="true"
								   aria-expanded="false" onclick="addToCart('{{this.user}}','{{this.product._id}}','{{this._id}}')">ADD TO CART
							       </button>
								   <button class="btn btn-danger mt-1" data-toggle="dropdown" aria-haspopup="true"
								   aria-expanded="false" onclick="cancelWishlist('{{this.user}}','{{this.product._id}}','{{this._id}}')">REMOVE
							       </button>
                                </div>
					             </td>
                              
							</tr>
							  {{else}}
							     <tr class="">
								<td class="product-col">
									<div class="product">
										<figure class="product-media">
											<a href="/product-view/{{this.product._id}}">
												<img src="/images/product/{{this.product.img.[3]}}" alt="Product image">
											</a>
										</figure>

										<h3 class="product-title">
                                            
											<a href="/product-view/{{this.product._id}}">{{this.product.productname}}</a>
										</h3><!-- End .product-title -->
										
									</div><!-- End .product -->
										<p class="text-danger">Currently out of stock</p>
								</td>
								<td class="price-col">₹{{this.product.price}}</td>
                                {{!-- <td>{{this.deliveryDetails.address.HouseName}},{{this.deliveryDetails.address.streetName}},{{this.deliveryDetails.address.pincode}},{{this.deliveryDetails.address.state}} --}} 
		                       <td class="price-col">₹{{this.product.storage}}</td>
                                <td class="action-col">
						        <div class="dropdown">
							      <button class="btn btn-outline-dark disabled" data-toggle="dropdown" aria-haspopup="true"
								   aria-expanded="false" onclick="addToCart('{{this.user}}','{{this.product._id}}')">ADD TO CART
							       </button>
								   <button class="btn btn-danger mt-1" data-toggle="dropdown" aria-haspopup="true"
								   aria-expanded="false" onclick="cancelWishlist('{{this._id}}')">REMOVE
							       </button>
                                </div>
					             </td>
                              
							</tr>


							{{/if}}
                        {{/each}}
						</tbody>
					</table><!-- End .table table-wishlist -->
	            	{{/if}}
            	</div><!-- End .container -->
            </div><!-- End .page-content -->